#wrapper.service {
    .bot-content {
        margin-top: 0;
        .box-content {
            padding-left: 11.25%;
            padding-right: 11.25%;
            .box-item {
                width: 31.5%;
            }
        }
    }
}