html {
    user-select: none;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    box-sizing: border-box;
    background-color: #E5E5E5;
}